@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

.font-shadows {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-fauna {
  font-family: "Fauna One", serif;
  font-weight: 400;
  font-style: normal;
}

.font-oswald > {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*farver*/
  --color-primary: #fe9e62;
  --color-text-col: #000000;
  --color-sekundary: #faf7f3;
  --color-bg-col2: #f5f2ec;

  /*Fonte*/
  --font-shadows: "Shadows Into Light", cursive;
  --font-fauna: "Fauna One", serif;
  --font-oswald: "Oswald", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
