---
---
<div>
       <button class="group font-fauna flex items-center p-2 text-[16px] lg:text-[24px] cursor-pointer gap-2 
               text-black hover:text-primary transition-colors duration-300 ease-in-out"> <img src="blomst.png" width="30" class="block group-hover:hidden"> <img src="blomst2.png" width="30" class="hidden group-hover:block"> <slot /></button>
</div>