---
---
<section class="bg-[var(--color-sekundary)]">
<div class="flex justify-center gap-10 p-20 pb-10 pt-40">
    <a href="tel:+4529238126">
    <img src="phone.png" width="50"/></a>
         <a href="mailto:Emmag2002@live.dk"> <img src="Mail.png" width="50"/> </a>
            <a href="https://www.instagram.com/emmagundorf/"> <img src="insta.png" width="50"/></a>
</div>
<div class="flex text-[20px] lg:text-[27px] font-shadows text-primary-300 justify-center pb-40 ml-10 mr-10 text-center"><p>Lad os tage en snak, hvis du tror, jeg kunne være et match til dit projekt eller din virksomhed!</p></div>
</section>
  